# Network & Infrastructure Configuration
MQTT_BROKER_IP=YOUR_MQTT_BROKER_IP
MQTT_BROKER_PORT=1883
INFLUXDB_HOST=YOUR_INFLUXDB_HOST
INFLUXDB_PORT=8086
INFLUXDB_DB_NAME=hotel_db

# Telegram Alerting Credentials
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# Apache Spark Cluster
SPARK_MASTER_URL=spark://YOUR_SPARK_MASTER_IP:7077
